ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: aliceblue;
  margin: 10px;
}

.spacer{
  flex: 1 1 auto;
}
mat-select{
  display: contents;
  font-size: medium;
  /* margin-top: 10%; */
}

mat-toolbar{
  display: flex;

}
