<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input  matInput name="email" ngModel type="email"  placeholder="E-mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">please enter a Valid Email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" type="password" ngModel  placeholder="password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">please enter a valid password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="warn" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</mat-card>

